node_modules/
build/
out/
wasm/dist/
*.o
*.a
*.so
*.wasm.map
.build/
*/*.bin/
bindings/android/aar/*/build/
bindings/android/aar/.gradle/
bindings/android/aar/local.properties
bindings/csharp/bin/
bindings/csharp/obj/
.bindings-tmp/
.DS_Store
